<p style="color: green"><%= notice %></p>

<h1>Historial de la Mascota</h1>

<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Heigth</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @pet_histories.each do |pet_history| %>
      <tr>
        <td><%= pet_history.weight %></td>
        <td><%= pet_history.heigth %></td>
        <td><%= pet_history.description %></td>
        <td><%= link_to 'Mostrar', pet_pet_history_path(@pet,pet_history.id) %></td>
        <td><%= link_to 'Editar', edit_pet_pet_history_path(@pet,pet_history.id) %></td>
        <td><%= link_to 'Eliminar', pet_pet_history_path(@pet,pet_history.id), method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="pet_histories">
  <% @pet_histories.each do |pet_history| %>
    <%= render pet_history %>
    <p>
      <%= link_to "Mostrar historial", pet_history %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo historial", new_pet_history_path %>
