<p style="color: green"><%= notice %></p>

<%= render @pet_history %>

<p>
  <strong>Weight:</strong>
  <%= @pet_history.weight %>
</p>

<p>
  <strong>Heigth:</strong>
  <%= @pet_history.heigth %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet_history.description %>
</p>

<div>
  <%= link_to "Editar", edit_pet_history_path(@pet_history) %> |
  <%= link_to "Volver", pet_histories_path %>

  <%= button_to "Eliminar", @pet_history, method: :delete %>
</div>
